@font-face {
    font-family: Ariel Rounded MT Bold;
    src: url(font/arlrdbd.ttf);
}
body{
	font-family: Ariel Rounded MT Bold, sans-serif;
	background-color: #F2F3F7;
}

#topmenu{
	background-color: white;
	margin: 0;
}
#topmenu>li>a:hover{
	color: #2583C4;
}
.btnconexion{
	background-color: #2583C4;
}
.btnsuscribe{
	background-color: white;
	border-color: #2583C4;
	color: #2583C4;
}
/*button search general*/
.boutonsearch{
	background-color: #FFD770;
	color: #2583C4;
	border-color: #2583C4;
}
.boutonsearch:hover{
	color: #2583C4;
}
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #2583C4 !important;
}
.show > .btn-secondary.dropdown-toggle{
	color: #2583C4;
}
.show > .btn-secondary.dropdown-toggle:hover{
	color: #2583C4;
}

.linkmenutop{
	color: #FFD770;
	text-decoration: none;
	border-color: #2583C4;
}
.linkmenucompte{
	color: #FFD770;
	text-decoration: none;
	border-color: #2583C4;
	
}
.linkmenucompte:hover{
	text-decoration: none;
	color:#2583C4 ;
	background-color: #FFD770 !important;
}
.btn-outline-secondary:hover{
	border-color: #2583C4;
}
.btn-outline-secondary:focus {
    box-shadow: 0 0 0 .2rem #2583C4;
}
.show > .btn-outline-secondary.dropdown-toggle {
	color:#2583C4 !important ;
	background-color: #FFD770 !important;
	border-color: #2583C4 !important;
}
.show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem #2583C4 !important;
}
#pub{
	border: solid 3px ;
	border-image: linear-gradient( 45deg, #FFD770,#2583C4);
	border-image-slice: 1;
}

.borderFullBox{
background-color: #FFFFFF;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    clear: both;
    padding: 10px;
    margin: 15px auto;
}
.prodcatImage>img{
	height: 105px;
}
.homeCategories .catgName>a{
	font-size: 12px;
	text-align: center;
	color: #2583C4;
	text-decoration: none;
}

.homeCategories .catgName>a:hover{
	color: blue;
}
.homeCategories .productCatg{
	border-right: 1px solid #EEE;
    float: left;
    margin-bottom: 10px;
    text-align: center;
    width: 133px;
}
#homeCategoriesExtended{
	padding-top: 10px; 
    border-top: 1px solid #d4d4d4;
    margin: 0;
}
#homeCategories{
	margin: 0;
}
.homeCategories .last {
    border-right: none;
}




/*coursel produit*/
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: #2583C4;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #2583C4;
	border-color: #2583C4;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

/*fin coursel produits*/



/*carousel témoignae*/
.h2temoign {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 40px;
}
.h2temoign::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #2583C4;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carouselle {
	margin: 50px auto;
	padding: 0 70px;
}
.carouselle .itemeu {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carouselle .media .portrait {
	width: 80px;
	height: 80px;
	display: block;
	border-radius: 50%;
}
.carouselle {
	padding: 0 15px 0 60px ;
	position: relative;
}
.carouselle .testimonial::before {
	content: '\93';
	color: #e2e2e2;
	font-weight: bold;
	font-size: 68px;
	line-height: 54px;
	position: absolute;
	left: 15px;
	top: 0;
}
.carouselle .overview b {
	text-transform: uppercase;
	color: #2583C4;
}
.testimonial{
	padding-left: 40px;
	position: relative;
}
.portrait{
	margin-left: 50px;
}
/*.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
    height: 18px;
	border-radius: 50%;
	margin: 1px 3px;
}

.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	color: #fff;
    background: #1c47e3;    
    border: 5px double;    
}*/
/*fin carousel témoignage*/




/*carousel partenairs*/
/*@media (min-width: 768px) {
*/
    /* show 3 items */
   /* .carousel-inner .active,
    .carousel-inner .active + .carousel-it,
    .carousel-inner .active + .carousel-it + .carousel-it,
    .carousel-inner .active + .carousel-it + .carousel-it + .carousel-it  {
        display: block;
    }
    
    .carousel-inner .carousel-it.active:not(.carousel-it-right):not(.carousel-it-left),
    .carousel-inner .carousel-it.active:not(.carousel-it-right):not(.carousel-it-left) + .carousel-it,
    .carousel-inner .carousel-it.active:not(.carousel-it-right):not(.carousel-it-left) + .carousel-it + .carousel-it,
    .carousel-inner .carousel-it.active:not(.carousel-it-right):not(.carousel-it-left) + .carousel-it + .carousel-it + .carousel-it {
        transition: none;
    }
    
    .carousel-inner .carousel-it-next,
    .carousel-inner .carousel-it-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-it + .carousel-it + .carousel-it + .carousel-it + .carousel-it {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }*/
    
    /* left or forward direction */
   /* .active.carousel-it-left + .carousel-it-next.carousel-it-left,
    .carousel-it-next.carousel-it-left + .carousel-it,
    .carousel-it-next.carousel-it-left + .carousel-it + .carousel-it,
    .carousel-it-next.carousel-it-left + .carousel-it + .carousel-it + .carousel-it,
    .carousel-it-next.carousel-it-left + .carousel-it + .carousel-it + .carousel-it + .carousel-it {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }*/
    
    /* farthest right hidden item must be abso position for animations */
    /*.carousel-inner .carousel-it-prev.carousel-it-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
   /* .active.carousel-it-right + .carousel-it-prev.carousel-it-right,
    .carousel-it-prev.carousel-it-right + .carousel-it,
    .carousel-it-prev.carousel-it-right + .carousel-it + .carousel-it,
    .carousel-it-prev.carousel-it-right + .carousel-it + .carousel-it + .carousel-it,
    .carousel-it-prev.carousel-it-right + .carousel-it + .carousel-it + .carousel-it + .carousel-it {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }*/



/*fin carousel partnairs*/


/*Footer*/
.footer{
	background-image: linear-gradient(to top, #004365, #05527c, #0f6293, #1972ab, #2583c4) !important;
}
.btnenvoyernewsletter{
	background: -webkit-linear-gradient(right, #2583C4, #004365) !important;
  	background: -o-linear-gradient(right, #2583C4, #004365) !important;
  	background: -moz-linear-gradient(right, #2583C4, #004365) !important;
  	background: linear-gradient(right, #2583C4, #004365) !important;

	border-color: #004365 !important;
}

.footerh1{
	font-size: 16px;
	color: white;
}
.footerh1 b {
	color:  #FFD770;
}

.hrfooter{
	background-color: #FFD770;
}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #FFD770;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	/*font-size:30px;*/
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	/*font-weight:700;*/
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/*Fin Footer*/

/* Page article detaillé*/
.titrearticle{
	font-size: bold;
	font-size: 20px;
}
.descriptionarticle{
	color: #808080;
	font-size: 0.9em;
	line-height: 1.3em;
	display: block;
	height: 28px;
}
/* breadcrumbs menu horizontale ligne de temps*/

.breadcrumb{
	background-color: white !important;
}
/*fin de breadcrumbs*/

/*Gallery de presentation de produit*/
.imgpresentation img{
	height: 300px;	
}
.imgminiature ul li img{
	height: 50px;
	
}
.imgminiature ul{
	padding: 0px;
}
.imgminiature ul li{
	list-style: none;
	display: inline;
	margin-left: 5px;
}

.logodescription ul li {
	list-style: none;
	display: inline;
	margin-left: 5px;
}
/* fin de Gallery de presentation de produit*/

/*blockprix*/ 
.blockprix h1{
	color: #004365;
	font-size: 22px;
}
.prixarticle{
	font-size: 34px;
	color: #2583C4;
}
.hrblockprix{
	content: "";
	width: 200px;
	margin: 0 auto;
	height: 2px;
	background:  #FFD770;
	left: 0;
	right: 0;
	margin-top: 15px;
	margin-bottom: 15px;
}


button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}
.container-achat100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wrap-achat100-form-btn {
  width: 60%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;

  box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
  -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.achat100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #2583C4, #004365, #2583C4, #004365);
  background: -o-linear-gradient(right, #2583C4, #004365, #2583C4, #004365);
  background: -moz-linear-gradient(right, #2583C4, #004365, #2583C4, #004365);
  background: linear-gradient(right, #2583C4, #004365, #2583C4, #004365);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.achat100-form-btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 40px;
}

.wrap-achat100-form-btn:hover .achat100-form-bgbtn {
  left: 0;
}

/*fin blockkprix*/
/*fin page article detaillé*/